.navbar .navbar-brand {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
}

.btn .btn-primary:hover {
    transition: all .3s ease-in-out;
}

.card {
    width: 710;
    height: 19rem;
}